---
---

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

/**
 * Style variables
 */
$base-font-family:     'Fira Code', monospace !default;
$base-font-size:       13px !default;
$base-line-height:     1.5 !default;

$container-width:      90% !default;
$container-max-width:  600px !default;

$border:               solid 1px rgba(219, 219, 219, 0.9);

$base-color:           #DBDBDB;
$primary-color:        #A2FC8F;
$background-color:     #000;
$heading-color:        #FFF;
$text-color:           $base-color;
$placeholder-color:    $base-color;
$link-color:           $base-color;

/**
 * Global
 */
body {
  background-color: $background-color;
  margin: 0 auto;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  text-align: left;
  line-height: $base-line-height !important;
}

h1, h2, h3, h4, h5, h6 {
  font-size: $base-font-size;
  margin: 0px;
  margin-top: 22px;
  font-weight: bold;
  color: $heading-color;
}

p, ul, ol {
  margin: 0px;
  color: $text-color;
}

a {
  text-decoration: underline;
  color: $link-color;
}

a:hover {
  color: $background-color;
  background-color: $base-color;
}

.primary-text {
  color: $primary-color;
}

h1:before { content: "---";  margin-right: 9px; }
h2:before { content: "--";  margin-right: 9px; }
h3:before { content: "-";  margin-right: 9px; }
h4:before { margin-right: 9px; }
h5:before { margin-right: 9px; }
h6:before { margin-right: 9px; }

h1:after { content: "---";  margin-left: 9px; }
h2:after { content: "--";  margin-left: 9px; }
h3:after { content: "-";  margin-left: 9px; }
h4:after { margin-left: 9px; }
h5:after { margin-left: 9px; }
h6:after { margin-left: 9px; }

/**
 * Layout
 */
.container {
  width: $container-width;
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
}

p {
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

footer {
  color: $text-color;
  border-top: $border;
  margin: 20px auto 15px;
  padding-top: 10px;
  text-align: right;
}

header {
  margin-top: 25px;
  margin-bottom: 10px;
}

header p {
  text-align: left;
  margin: 0;
}

footer {
  margin-bottom: 20px;
}

/**
 * Highlight/Markup
 */
::selection {
  background: rgba(219, 219, 219, 0.99);
  color: #000;
}

/**
 * Lists
 */
:not(.menu) > ul { list-style: none;  padding-left: 0; }
:not(.menu) > ul { list-style-type: none; }
:not(.menu) > ul > li:before { content: "\00a0-";  margin-right: 9px; }

/**
 * Header/Navigation
 */
.menu { border-top: $border;  border-bottom: $border;  margin-bottom: 25px; }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 10px; }
.menu ul li a { text-decoration: none;  color: $text-color; }
.menu ul li a:hover { text-decoration: none; color: $background-color; background-color: $base-color; }

/**
 * Code and syntax highlighting
 */
pre {
  background-color: $background-color;
  border: none;
  padding: 0px;
  overflow:auto;
  font-size: $base-font-size;
  color: rgba(255,255,255,0.65);
  line-height: 1.7 !important;
}
